@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 2rem;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.votes{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

}

.Upvotes{
  display: flex;
  flex-direction: row;
  color: #909090 ;
  

}

.Downvotes{
  display: flex;
  flex-direction: row;
  color: #909090 ;
  
  
}

.UpVoteCounts{
  display: flex;
  margin-top: -1.73%;
  padding: 0.5%;
  color: #909090 ;
}
input{
  width : 35.5%;
  height: 22%;
 border-bottom:thick rgba(136, 136, 136, 0.913); 
 border-width:5px;
}

.btns{
  display: flex;
  flex-direction: row;
  margin-left: 27%;
}
.container{
  display: flex;
}
.sortBy{
  display: flex;
  flex-direction: row;
  color: #909090;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
  
}

.reply{
  background-color: #181818;
  border: none
}
